$color-white: #FAFAFA;
$color-gray: #D9D9D9;
$color-gray-dark: #242424;
$color-black: #000000;

$color-green-light: #8AEACE;
$color-green-main: #20B58B;
$color-green-main-active: #1C9C78;

$color-error: #B62820;
$color-error-active: #9C221C;
$color-danger: #E1BB13;
$color-danger-active: #C1A111;
